h1{font-size: 300%;color:blue}
h2{font-size: 200%;}
h3{font-size: 200%;}
p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.special {color: purple;}
