/* Ensure text is readable against background */
h1, h2, h3, p, .text1, nav a {
    color: #000000; /* Black text for better contrast */
}

/* Adjust navigation background if necessary */
nav {
    background-color: #E0E0E0; /* Make sure this color contrasts well with black text */
}

/* Adjust link colors for normal and hover states */
a {
    color: #005b96; /* A darker blue for better contrast */
}

a:hover {
    color: #ff5252; /* Ensure this color also contrasts well with the background */
}

/* Skip link should also have a contrasting color */
.skip {
    background-color: #ffbf00; /* Keep this color as it should have enough contrast with black border and text */
    color: #000000; /* Black text for readability */

   
    padding:5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute; /*positions an element relative to the top left of the view port */
    top:10px;
    left: -999px; /*-999 pushes of the left side of the screen */


}

.skip:focus {
    left:10px;  /*bring it back when it's been tabbed to */


}