h1{font-size: 300%;color:blue}
h2{font-size: 200%;}
h3{font-size: 200%;}
p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.special {color: purple;}



nav {
    font-family: 'Arial', sans-serif;
    padding: 10px; 
    margin-bottom: 30px;
    background-color: #E0E0E0;
}

a {
    color: #0288D1;
}

a:hover {
    color: #FF5252;
}

h1, h2, h3 {
    color: #1A237E;
}
.skip{
    background-color: #ffbf00;
    padding:5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute; /*positions an element relative to the top left of the view port */
    top:10px;
    left: -999px; /*-999 pushes of the left side of the screen */


}

.skip:focus {
    left:10px;  /*bring it back when it's been tabbed to */


}